<section class="hero">
    <div class="info-card">
        <div class="info-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <circle cx="12" cy="12" r="10"></circle>
                <polyline points="12 6 12 12 16 14"></polyline>
            </svg>
            <span class="text" id="hours-text"></span>
        </div>
        
        <div class="info-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z" />
                <circle cx="12" cy="10" r="3"></circle>
            </svg>
            <a href="#" class="text">24 Sacandaga Rd, Scotia</a>
        </div>
    </div>
    <div class="hero-content">
        <h1>Scotia's Trusted Auto <br> Repair & Performance Garage</h1>
        <p class="subtitle">Your Friendly Local Auto Repair Shop in Scotia, NY. <br> Quality Brake, Engine, Exhaust, and Performance Tuning Services.</p>
        <a href="tel:5182801698" class="cta-button">
            Schedule Service:<br>(518) 280-1698
        </a>
    </div>
</section> 